<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

 <title>About Me</title>
 <link rel="icon" href ="{% static 'images/SHC LOGO.png' %}" type="image/x-icon">
</head>
<body id="badanAbout">
  <nav class="navbar navbar-expand-md sticky-top navbar-dark navbar">
      <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
          <img src="{% static 'images/SHC LOGO.png' %}" alt="logo web"width="25" height="25" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About_Me">About Me<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#Education">Education<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="#My_Skills">My Skills<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#Experience">Experiences<span class="sr-only">(current)</span></a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contacts<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
  <div class="container gap" id="About_Me" >
    <div style="display: flex;">
      <div class="heading">
            <p>ABOUT</p>
      </div>
      <div>
        <img src="{% static 'images/foto web fix.png' %}" alt="gambar logo saya"class="w-100 h-100" >
    </div>
    <div class="flex-column">
      <div class="textaboutme">
          Hello, my name is Stephen Handiar Christian 
          and you can call me Stephen. My Hobby is playing game, 
          listen to music, and sleeping there's some description 
          about me, I'm an university student who likes something 
          that make me happy and something that make someone proud 
          of me. I always got some new thing when i study in Universitas 
          Indonesia and that makes me want to learn more about it.
      </div>
      <div style="margin-left:550px">
        <hr class="garisvertikal">
        <hr class ="garishorizontal">
      </div>
    </div>
  </div>
  </div>
  <div class="gap" id="Education" style="display: flex;">
      <div class="heading">
          <p>EDUCATION</p>
      </div>
  <div class="text flex-column">
    <div>
      <b><u>University</b></u><br>
      Universitas Indonesia
    </div>
    <div style="margin-left: 500px">
        <b><u>Faculty</b></u><br>
        Faculty of Computer Science
    </div>
    <div>
        <b><u>Major</b></u><br>
        Computer Science
    </div>
    <div style="margin-left: 620px;">
        <b><u>NPM</b></u><br>
        1806205703
    </div>
  </div>      
  </div>
  <div class="gap" id="My_Skills" style="display: flex">
      <div class="heading pl-4">
          <p>MY SKILLS</p>
      </div>
      <div class="text flex-column">
        <div>
          <b><u>Design</b></u><br>
          Adobe Photoshop<br>
          Adobe Illustrator<br>
        </div>
        <div style="padding-top: 100px; padding-left:80px; padding-bottom: 50px">
            <b><u>Language</b></u><br>
            Bahasa Indonesia<br>
            English
        </div>
      </div>
      <div class="text" style="margin-left: 270px;margin-top: 20px;color:";>
          <b><u>Programming</b></u><br>
            Python<br>
            Java<br>
            HTML 5<br>
            CSS
      </div>
  </div>
  <div class="gap" id="Experience" style="display: flex;">
      <div class="heading">
          <p>EXPERIENCE</p>
      </div>
    <div class="text flex-column">
          <div>
            <b><u>OKK UI 2019</b></u><br>
            Staff of ACARA PUNCAK OKK UI
          </div>
          <div style="margin-left: 480px;">
            <b><u>Wisuda Genap Fasilkom UI2019</b></u><br>
            Staff of Documentation
          </div>
          <div>
              <b><u>UI ETHNOVAGANZA 2019</b></u><br>
              Staff of Design
          </div>
        </div> 
  </div>
  <br><br><br><br><br><br><br>
  <div class="gap flex-column">
    <div class="quotes text align-items-center">
      <blockquote style="z-index: 2">
        “Great things <br>
        never came from <br>
        comfort zone”
      </blockquote>
    </div>
  </div> 
  <div class="iconcontacts">
          <a href="https://line.me/ti/p/~stephen24"><img src="{% static 'images/line.png' %}" alt="foto line" style="width: 35px;height: 35px;" ></a>
          <a href="https://wa.me/083870606710"><img src="{% static 'images/telephone.png' %}" alt="foto telephone" style="width: 35px;height: 35px;"></a>
          <a href="https://www.linkedin.com/in/stephen-handiar-411ba5184"><img src="{% static 'images/linkedin.png' %}" alt="foto Linkedin" style="width: 35px;height: 35px;"></a>
          <a href="https://www.instagram.com/stephenhandiar"> <img src="{% static 'images/ig.png' %}" alt="foto instagram" style="width: 35 px;height: 35px;"></a>
  </div>
    <footer class="container page-footer font-small special-color-dark mt-4">
        
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="{% url 'gallery' %}"> Stephen Handiar</a>
      </div>
    </footer>
  
</body>
</html>