<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>My Contact</title>
 <link rel="icon" href ="{% static 'images/SHC LOGO.png' %}" type="image/x-icon">
</head>
<body id="badanKontak">
    <a href="{% url 'index' %}"><button type="button" class="button1">Home</button></a>
    <a href="{% url 'about' %}"><button type="button" class="button2">About Me</button></a>
    <div class="contactme">MY CONTACT</div>
    <img src="{% static 'images/SHC LOGO2.png' %}" alt="logo web" class="logo2">
    <div class="container alamat" style="display: flex">
        <div>
            <img src="{% static 'images/Maps.png' %}" alt="foto line" class="alamat gambarMaps" >
        </div>
        <div class="flex-column alamat2">
            <div>
                <img src="{% static 'images/position.png' %}" alt="foto line" class="position" >
            </div>
        <div style="margin-left:30px">
            Menteng, Jakarta Pusat.
        </div>
        </div>
    </div>
    <div class="contact" >
        <div class="div2">
            <div>
                <a href="https://line.me/ti/p/~stephen24"><img src="{% static 'images/line.png' %}" alt="foto line" class="sosmed" ></a>
            </div>
            <div class="font">
                Stephen24
            </div>
        </div>
        <div class="div2">
            <div>
                <a href="https://wa.me/083870606710"><img src="{% static 'images/telephone.png' %}" alt="foto telephone" class="sosmed" style="top: 90px"></a>
            <div class="font" style="top: 90px">
                083870606710
            </div>
            </div>
        </div>
        <div class="div2">
            <div>
                <a href="https://www.linkedin.com/in/stephen-handiar-411ba5184"><img src="{% static 'images/linkedin.png' %}" alt="foto Linkedin" class="sosmed"style="top: 160px"></a>
            </div >
            <div class="font" style="top: 160px">
                Stephen Handiar
            </div>
        </div>
        <div class="div2"> 
            <div>
                <a href="https://www.instagram.com/stephenhandiar"> <img src="{% static 'images/ig.png' %}" alt="foto instagram" class="sosmed"style="top: 230px"></a>
            </div>
            <div  class="font" style="top: 230px">
                    Stephenhandiar
            </div>
        </div>
        <div class="div2"> 
            <div>
                <img src="{% static 'images/mail.png' %}" alt="foto EMAIL" class="sosmed"style="top: 300px">
            </div>
            <div  class="font" style="top: 300px">
                Stephenchristian2412@gmail.com
            </div>
        </div>
    </div>
</body>
</html>