<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>My Gallery</title>
 <link rel="icon" href ="{% static 'images/SHC LOGO.png' %}" type="image/x-icon">
</head>
<body id="badangaler">
 <div class="col-auto row-auto">
  <div class="galery">
   <img src="{% static 'images/SHC LOGO2.png' %}" alt="foto line" style="width: 100px;height: 80px;" >
   Gallery</div>
  <div class=" justify-content-center row">
      <div class="foto col-md-auto">
       <img src="{% static 'images/foto1.jpg' %}" alt="foto line" style="width: 400px;height: 400px;" >
      </div>
      <div class="foto col-md-auto">
       <img src="{% static 'images/foto2.jpg' %}" alt="foto telephone" style="width: 400px;height: 400px;">
      </div>
      <div class="foto col-md-auto">
       <img src="{% static 'images/foto3.jpg' %}" alt="foto instagram" style="width: 400px;height: 400px;">
      </div>
 </div>
 </div>
 <footer class="page-footer font-small special-color-dark mt-4">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
   <a href="{% url 'index' %}"> Stephen Handiar</a>
 </div>
</footer>
</body>
</html>