 <!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>HomePage</title>
 <link rel="icon" href ="{% static 'images/SHC LOGO.png' %}" type="image/x-icon">
 
</head>
<body id="badanIndex" >
    <div class="container">
        <a href="{% url 'about' %}"><button type="button" class="button1 ">About Me</button></a>
        <a href="{% url 'contact' %}"><button type="button" class="button2 ">Contact</button></a>
    </div>
</body>
</html>