body{
 background: #f9e9cf;
 width: 100%;
}
#badanAbout{
  background-image: url('/static/images/bekgron.png');
  background-size: 100%;
  background-attachment: scroll;
}
#badanIndex{
  background-image: url('/static/images/bekgron-index.png');
  background-size:100% ;
  background-attachment: scroll ;
}
#badanKontak{
  background-image: urlurl('/static/images/bekgrond-kontak.png');
  background-size:100% ;
  background-attachment: scroll ;
}
#badangaler{
  background-image: url('/static/images/bekgrond-galer.png');
  background-size:100% ;
  background-attachment: scroll ;
}
.button1{
  position: absolute;
  width: 120px;
  height: 35px;
  top: 15px;
  right: 230px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 13px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 3px #333333;
  background: #f9e9cf;
}

.button2{
  position: absolute;
  width: 120px;
  height: 35px;
  top: 15px;
  right: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 13px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 3px #333333;
  background: #f9e9cf;}

.button1:hover {background-color: rgb(245, 214, 164)}

.button1:active {
  background-color: rgb(245, 214, 164);
  box-shadow: 0 5px #333333;
  transform: translateY(4px);}

.button2:hover {background-color: rgb(245, 214, 164)}

.button2:active {
  background-color: rgb(245, 214, 164);
  box-shadow: 0 5px #333333;
  transform: translateY(4px);
}
.logo1{
  position: absolute;
  width: 531px;
  height: 618px;
  left: 383px;
  top: 0px;
}

.logo2{
  position: absolute;
  width: 250px;
  height: 167px;
  left: 130px;
  top: 60px;
}

.contact{
  position: absolute;
  width: 530px;
  height: 350px;
  left: 531px;
  top: 150px;
  background: #F6D7D1;
  border-radius: 13px;
  padding:19px;
  box-shadow: 10px 10px 10px #333333;
  }
.hahaha{
  position: absolute;
  width: 500px;
  height: 550px;
  border-radius: 13px;
  padding:19px;
  }
.sosmed{
position: absolute;
width: 50px;
height: 50px;
}
.font{
position: absolute;
left: 100px;
font-family: Poppins;
font-style:normal;
font-weight:550;
font-size: 22px;
line-height: 50px;
text-align: center;

color: #333333;
}
.contactme{
  position: absolute;
  width: 336px;
  height: 40px;
  top: 140px;
  right:-140px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 72px;
  text-align: center;
  text-decoration-line: underline;
  color: #333333;
  transform: rotate(90deg);
}
.div2{display: flex;}

.navbar{
 background: #235B54;
}
.logo3{
 position: absolute;
 width: 30px;
 height: 35px;
}
.heading{
 font-family: Poppins;
 font-style: normal;
 font-weight: bold;
 text-align: center;
 font-size: 30px;
 text-decoration-line: underline;
 color: #333333;
 transform: rotate(270deg);
 height:180px;
}
.textaboutme{
 text-align: justify;
 width: 570px;
 height: 450px;
 padding-top: 90px;
 padding-left: 150px;
 font-family: Poppins;
 font-style: normal;
 font-weight: normal;
 font-size: 20px;
}
.garishorizontal{
 width: 90px;
 border: 3px solid #235B54;
}
.garisvertikal{
 width: 100px;
 border: 3px solid #235B54;
 transform: rotate(90deg);
}
.text{
 font-family: Poppins;
 font-style: normal;
 font-weight: normal;
 font-size: 32px;
 line-height: 70px;

 color: #333333;
}
.gap{
 padding-top: 28px;
 padding-bottom:20px; 
}
.quotes{
 font-family: Poppins;
 font-style: normal;
 font-weight: bold;
 font-size: 64px;
 line-height: 117px;
 text-align: center;

 color: #333333;
}
html{scroll-behavior : smooth;}

.contact_text{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 54px;
  text-align: center;

  color: #333333;
}
.alamat{
  position: absolute;
width: 332px;
height: 284px;
left: 48px;
top: 120px;
}
.alamat2{
  position: absolute;
  width: 332px;
  height: 65px;
  left: 48px;
  top: 388px;
  padding: 20px;
  margin-left: 50px;
  font-family: Poppins;
  font-weight: bold;
 font-style: normal;
  }
.position{
  position: absolute;
  width: 25px;
  height: 25px;
}
.gambarMaps{
  box-shadow: 5px 5px #333333;
  border: 2px 2px #333333;
  border-radius: 15px;
  width: 332px;
  height: 284px;
}
.foto{
  transform:rotate(90deg);
}
.galery{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  text-decoration-line: underline;
  text-align: center;
  margin:20px;
}

  .iconcontacts {
    text-align: center;
}